.sketchBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

.divCell {
    border: solid black 1px ;
}

.painted {
    background-color: black;
}

.btn {
    border: solid black 2px;
    width: 100px;
    height: 50px;
    margin: 10px;
    text-align: center;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contentContainer {
    display: flex;
    height: 480px;
    /* align-items: center; */
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.toggled {
    border: solid rgba(248, 174, 16, 0.747) 2px;
    box-shadow: 2px 2px 2px  rgba(243, 190, 76, 0.911) ;
    background-color: rgba(250, 234, 201, 0.747);
    font-weight: bold;
}

.clicked {
    transform: scale(1.1);
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings {
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings p {
    margin: 5px;
}

.settings h2 {
    margin-top: -10px;
    margin-bottom: 10px;
}

#resizeBtn {
    margin-top: 20px;
}